
/* Tamaño Horizontal <620 px */

@media only screen and (min-width:621px) {
    /* INDEX */
    .header {
        display: flex;
        width: 100%;
    }

    .banner {
        height: 400px;
    }

    .menu {
        text-align: right;
        padding-left: 60%;
        padding-top: 10px;
    }

    .sectionCompartida {
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-row: 1fr;
        grid-column-gap: 10%;
        grid-template-areas: 
        "noticias figuras"
        ;
    }

    .noticias {
        grid-area: noticias;
        padding: 0 2% 2% 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 70px 3fr 3fr 3fr 100px 20px;
        grid-template-areas: 
        "encabezadoNoticia"
        "tituloNoticia"
        "imagenNoticia1"
        "imagenNoticia2"
        "imagenNoticia3"
        "parrafoNoticia"
        "linkNoticia"
        ;
        h2 {
            font-size: 19px;
        }
        h3 {
            font-size: 16px;
        }
    }

    .noticias:hover {
        position: flex;
        transition: 0.8s;
        transform: translate(40px,0) scale(1.1,1.1);
    }

    .figuras {
        background-color: rgba(245, 243, 243,0.9);
        padding: 0 2% 5% 2%;
        grid-area: figuras;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 10px 5fr 5fr 5px;
        grid-template-areas: 
        "titulo"
        "video1"
        "video2"
        "link"
        ;
    }

    .figuras {
        padding:1% 1% 0 1% ;
    }

    .figuras:hover {
        position: flex;
        transition: 0.8s;
        transform: translate(-50px,0) scale(1.1,1.1);
    }

    .marcas {
        padding: 0 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 20px;
        grid-row-gap: 4%;
        grid-template-areas: 
        "tituloMarcas"
        "sectionImagenes"
        "linkMarcas" 
        ;
    }

    .marcas:hover { 
            position: flex;
            transition: 0.5s;
            transform: translateY(-30px);
    }

    .imagenesMarcas {
        grid-area: sectionImagenes;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "vans element converse activision xgames bones"
        ;
    }

    .nuestraHuella{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 20px;
        grid-template-areas: 
        "tituloNuestraHuella"
        "articulosNuestraHuella"
        "linkArticulo"
        ;
    }

    .articulos {
        margin: 0 2%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2%;
        grid-template-areas: 
        "articulo1 articulo2"
        ;
    }

    .articulos a {
        grid-area: linkArticulo;
        background-color: black;
        text-align: center;
        width: 100%;
    }

    footer {
        display: flex;
        background-color: black;
        color: white;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 10px;
        h3 {
            padding-left: 1%;
        }
    }

    .nuestrosDatos {
        display: flex;
    }

    .itemFooter {
        font-size: 15px;
        padding-left: 1%;
    }

    /* PRODUCTOS */
    .productosDestacados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2%;
        grid-template-areas: 
        "destacado1 destacado2 destacado3 destacado4"
        ;
    }

    .productosDestacados article:hover{
        background-color: rgba($color: #747474, $alpha: 0.8);
        transition: 0.8s;
        transform: translate(0,10px) scale(1.1,1.1);
    }

    .productos:hover { 
        position: flex;
        transition: 0.5s;
        transform: translateY(-30px);
    }
    
    .nuevosProductos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2%;
        grid-template-areas: 
        "nuevo1 nuevo2 nuevo3 nuevo4"
        ;
    }

    .nuevosProductos article:hover {
        background-color: rgba($color: #303030, $alpha: 0.8);
        transition: 0.8s;
        transform: translate(0,10px) scale(1.1,1.1);
    }
    /* NOSOTROS */
    .publicaciones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1%;
        grid-template-areas: 
        "articulo1 articulo4 articulo2"
        "articulo3 articulo6 articulo5"
        ;
    }

    .publicaciones article:hover{
        transition: 0.5s;
        background-color: rgba($color: #747474, $alpha: 0.8);
    }

    /* CONTACTO */
    .sectionCompartidaContacto {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 20px;
        grid-template-areas: 
        "formularioContacto nuestraHuella"
        ;
    }

    .formulario {
        margin-top: 20%;
    }

    .formulario:hover {
        transition: 0.8s;
        transform: translate(10px,10px) scale(1.08,1.08);
    }
}