@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: cfcfc4;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}

/* HEADER */
.header {
  color: white;
  background-color: black;
  width: 100%;
  padding: 0px 20px;
  position: fixed;
}

.banner {
  width: 100%;
  height: 200px;
  margin-top: 0px;
  background-image: url(../imagenes/banner.jpeg);
  background-position: center;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-top: 10px;
}
footer h3 {
  padding-left: 5%;
}

.itemFooter {
  display: block;
  width: 250px;
  font-size: 12px;
}

.nuestrosDatos {
  padding-left: 5%;
}

.iconos {
  display: inline;
  padding-left: 5%;
  width: auto;
}
.iconos i {
  margin-right: 5px;
}

/* SECTIONS */
section h2 {
  color: #202020;
  padding-top: 15px;
}
section p {
  color: black;
}

/* INTRO */
.intro {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  background: url(../imagenes/fotoCommunity.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  height: 300px;
  width: 100%;
}
.intro p {
  background-color: rgba(223, 223, 223, 0.6);
  margin-left: 8%;
  width: 50%;
  border-radius: 15px;
}
.intro a {
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  padding: 1px;
}

.textoIntro {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* SECTION COMPARTIDA NOTICIAS & FIGURAS */
.sectionCompartida {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 2fr;
  grid-template-areas: "noticias" "figuras";
}

.noticias {
  grid-area: noticias;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(223, 223, 223, 0.9);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 70px 1fr 1fr 1fr 100px 20px;
  grid-template-areas: "encabezadoNoticia" "tituloNoticia" "imagenNoticia1" "imagenNoticia2" "imagenNoticia3" "parrafoNoticia" "linkNoticia";
}
.noticias h2 {
  grid-area: encabezadoNoticia;
  font-size: 20px;
}
.noticias h3 {
  grid-area: tituloNoticia;
}
.noticias .imagenNoticia1 {
  width: 100%;
  grid-area: imagenNoticia1;
}
.noticias .imagenNoticia2 {
  width: 100%;
  grid-area: imagenNoticia2;
}
.noticias .imagenNoticia3 {
  width: 100%;
  grid-area: imagenNoticia3;
}
.noticias p {
  grid-area: parrafoNoticia;
}
.noticias a {
  grid-area: linkNoticia;
  background-color: black;
  text-align: center;
}

.figuras {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #c0bebe;
  grid-area: figuras;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 4fr 12fr 12fr 20px;
  grid-row-gap: 1%;
  grid-template-areas: "titulo" "video1" "video2" "link";
}
.figuras h2 {
  grid-area: titulo;
}
.figuras a {
  grid-area: link;
  background-color: black;
  text-align: center;
  width: 100%;
}

.videoFiguras1 {
  grid-area: video1;
  width: 100%;
}

.videoFiguras2 {
  grid-area: video2;
  width: 100%;
}

/* SECTION MARCAS */
.marcas {
  margin-top: 15%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  background-color: rgba(192, 190, 190, 0.9);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 20px 1fr;
  grid-row-gap: 4%;
  grid-template-areas: "tituloMarcas" "sectionImagenes" "linkMarcas" "none";
}
.marcas img {
  max-width: 100%;
  max-height: 100%;
}
.marcas h3 {
  grid-area: tituloMarcas;
}
.marcas a {
  grid-area: linkMarcas;
  background-color: black;
  text-align: center;
}

.imagenesMarcas {
  grid-area: sectionImagenes;
  display: grid;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "vans element converse" "activision xgames bones";
}

#marcaVans {
  grid-area: vans;
}

#marcaElement {
  grid-area: element;
}

#marcaConverse {
  grid-area: converse;
}

#marcaXgames {
  grid-area: xgames;
}

#marcaActivision {
  grid-area: activision;
}

#marcaBones {
  grid-area: bones;
}

.scale-up-bottom {
  -webkit-animation: scale-up-bottom 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-bottom 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}

@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}
/* ARTICLE */
.nuestraHuella {
  margin-top: 10%;
  margin-bottom: 5%;
  grid-area: nuestraHuella;
  background-color: rgba(245, 243, 243, 0.8);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 20px;
  grid-template-areas: "tituloNuestraHuella" "articulosNuestraHuella" "linkArticulo";
}
.nuestraHuella h2 {
  grid-area: tituloNuestraHuella;
  margin-left: 2%;
}
.nuestraHuella a {
  grid-area: linkArticulo;
  background-color: black;
  text-align: center;
}

.articulos {
  padding-bottom: 2%;
  grid-area: articulosNuestraHuella;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "articulo1" "articulo2";
}

.article1 {
  grid-area: articulo1;
  height: auto;
}
.article1 img {
  width: 100%;
}

.article2 {
  grid-area: articulo2;
  height: auto;
}
.article2 img {
  width: 100%;
}

/* PRODUCTOS */
.productos, .productosNuevos {
  background-color: rgba(223, 223, 223, 0.9);
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}
.productos h4, .productosNuevos h4 {
  font-size: 20px;
}

.productosNuevos {
  background-color: rgba(2, 2, 2, 0.9);
  color: white;
}
.productosNuevos h2 {
  color: white;
}
.productosNuevos p {
  color: white;
}

.productosDestacados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 4fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  grid-template-areas: "destacado4 destacado2" "destacado1 destacado3";
}
.productosDestacados img {
  max-width: 100%;
}

.tituloProductosDestacados {
  grid-area: titulo;
}

.productoDestacado1 {
  grid-area: destacado1;
}

.productoDestacado2 {
  grid-area: destacado2;
}

.productoDestacado3 {
  grid-area: destacado3;
}

.productoDestacado4 {
  grid-area: destacado4;
}
.productoDestacado4 iframe {
  max-width: 100%;
  max-height: 60%;
}

.linkContacto a {
  background-color: black;
  color: yellow;
  margin-left: 2%;
}

.nuevosProductos {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 4fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  grid-template-areas: "nuevo1 nuevo2" "nuevo3 nuevo4";
}
.nuevosProductos img {
  max-width: 100%;
}

.nuevoProducto1 {
  grid-area: nuevo1;
}

.nuevoProducto2 {
  grid-area: nuevo2;
}

.nuevoProducto3 {
  grid-area: nuevo3;
}

.nuevoProducto4 {
  grid-area: nuevo4;
}

/* NOSOTROS */
.invitacion {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 0 20px 5%;
}
.invitacion .linkContacto a {
  margin-left: 0;
}

.publicaciones {
  background-color: rgba(223, 223, 223, 0.9);
  margin-top: 55px;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "articulo1" "articulo4" "articulo2" "articulo3" "articulo6" "articulo5";
}

.articulo1 {
  grid-area: articulo1;
}

.articulo2 {
  grid-area: articulo2;
}

.articulo3 {
  grid-area: articulo3;
}

.articulo4 {
  grid-area: articulo4;
}

.articulo5 {
  grid-area: articulo5;
}

.articulo6 {
  grid-area: articulo6;
}

/* LUGARES */
.lugares {
  margin-top: 5%;
}

/* CONTACTO */
.sectionCompartidaContacto {
  margin-top: 5%;
  margin-bottom: 5%;
}

.formulario {
  padding-left: 5%;
  grid-area: formularioContacto;
  background-color: black;
  color: white;
}
.formulario p, .formulario h2 {
  margin-bottom: 10px;
  color: white;
}

.nuestraHuellaContacto {
  margin-top: 5%;
  background-color: rgba(223, 223, 223, 0.9);
}
.nuestraHuellaContacto h2 {
  margin-left: 2%;
}

/* Tamaño Horizontal <620 px */
@media only screen and (min-width: 621px) {
  /* INDEX */
  .header {
    display: flex;
    width: 100%;
  }

  .banner {
    height: 400px;
  }

  .menu {
    text-align: right;
    padding-left: 60%;
    padding-top: 10px;
  }

  .sectionCompartida {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-row: 1fr;
    grid-column-gap: 10%;
    grid-template-areas: "noticias figuras";
  }

  .noticias {
    grid-area: noticias;
    padding: 0 2% 2% 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 70px 3fr 3fr 3fr 100px 20px;
    grid-template-areas: "encabezadoNoticia" "tituloNoticia" "imagenNoticia1" "imagenNoticia2" "imagenNoticia3" "parrafoNoticia" "linkNoticia";
  }
  .noticias h2 {
    font-size: 19px;
  }
  .noticias h3 {
    font-size: 16px;
  }

  .noticias:hover {
    position: flex;
    transition: 0.8s;
    transform: translate(40px, 0) scale(1.1, 1.1);
  }

  .figuras {
    background-color: rgba(245, 243, 243, 0.9);
    padding: 0 2% 5% 2%;
    grid-area: figuras;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 10px 5fr 5fr 5px;
    grid-template-areas: "titulo" "video1" "video2" "link";
  }

  .figuras {
    padding: 1% 1% 0 1%;
  }

  .figuras:hover {
    position: flex;
    transition: 0.8s;
    transform: translate(-50px, 0) scale(1.1, 1.1);
  }

  .marcas {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 20px;
    grid-row-gap: 4%;
    grid-template-areas: "tituloMarcas" "sectionImagenes" "linkMarcas";
  }

  .marcas:hover {
    position: flex;
    transition: 0.5s;
    transform: translateY(-30px);
  }

  .imagenesMarcas {
    grid-area: sectionImagenes;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "vans element converse activision xgames bones";
  }

  .nuestraHuella {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 20px;
    grid-template-areas: "tituloNuestraHuella" "articulosNuestraHuella" "linkArticulo";
  }

  .articulos {
    margin: 0 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2%;
    grid-template-areas: "articulo1 articulo2";
  }

  .articulos a {
    grid-area: linkArticulo;
    background-color: black;
    text-align: center;
    width: 100%;
  }

  footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  footer h3 {
    padding-left: 1%;
  }

  .nuestrosDatos {
    display: flex;
  }

  .itemFooter {
    font-size: 15px;
    padding-left: 1%;
  }

  /* PRODUCTOS */
  .productosDestacados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2%;
    grid-template-areas: "destacado1 destacado2 destacado3 destacado4";
  }

  .productosDestacados article:hover {
    background-color: rgba(116, 116, 116, 0.8);
    transition: 0.8s;
    transform: translate(0, 10px) scale(1.1, 1.1);
  }

  .productos:hover, .productosNuevos:hover {
    position: flex;
    transition: 0.5s;
    transform: translateY(-30px);
  }

  .nuevosProductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2%;
    grid-template-areas: "nuevo1 nuevo2 nuevo3 nuevo4";
  }

  .nuevosProductos article:hover {
    background-color: rgba(48, 48, 48, 0.8);
    transition: 0.8s;
    transform: translate(0, 10px) scale(1.1, 1.1);
  }

  /* NOSOTROS */
  .publicaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1%;
    grid-template-areas: "articulo1 articulo4 articulo2" "articulo3 articulo6 articulo5";
  }

  .publicaciones article:hover {
    transition: 0.5s;
    background-color: rgba(116, 116, 116, 0.8);
  }

  /* CONTACTO */
  .sectionCompartidaContacto {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 20px;
    grid-template-areas: "formularioContacto nuestraHuella";
  }

  .formulario {
    margin-top: 20%;
  }

  .formulario:hover {
    transition: 0.8s;
    transform: translate(10px, 10px) scale(1.08, 1.08);
  }
}/*# sourceMappingURL=estilos.css.map */